body {
    background-color: blue;
}
.C2 {
    height: 50px;
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: aqua;
}

.C1 {
    height: 250;
    width: 250;
}
.C3 {
    color: white;
    font-size: 15px;
}